/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Position related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  position: static | relative | absolute | fixed  |  sticky
    ^ default value static
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
    eg: 
      .someclass{position:relative}
      .someclass{position:absolute}
      .someclass{position:sticky}
      .someclass{position:fixed}

~  top   : <length>
~  bottom: <length>
~  right : <length>
~  left  : <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate

~  z-index: auto | <integer>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate



~  visibility: visible | hidden | collapse
Applies to all elements
overflow: visible | hidden | scroll | auto
overflow-x
overflow-y


auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en/docs/Web/CSS/background-color
*/

.box1{
    border: 5px solid #000;
    padding: 10px;
}
.box1:after{
    content:"";
    display: block;
    clear: both;
}
.img-scene{
    width: 300px;
    height: auto;
    float: left;
    padding-right: 10px;
}
.box2{
    border: 5px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}
.orange{background: orange;}
.blue{background: blue;}
.green{background: green;}
.red{background: red;}
.crimson{background: crimson;}

.pos-static{
    top: 50px;
    left: 200px
}
.box3{
    border: 5px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}

.pos-relative{ position: relative; }
.pos-absolute{ position: absolute;}
.pos-fixed{ position: fixed;}

.top-right{
    top: 50px;
    right: 50px;
    z-index: 1;
}








/* ==========================================================================
   hero-banner styles
   ========================================================================== */
   .hero-banner{
    border:solid 5px #00000077;
    position: relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.hero-banner img{
    display: block;
    width: 100%;
    height: auto;
}
.hero-banner .overlay{
    background-color: #00000048;
    position: absolute;
    left: 5px;right: 5px;
    top: 5px;bottom: 5px;
    transition: all 250ms ease;
}
.hero-banner:hover .overlay{
    left: 50%;right: 50%;
    top: 50%;bottom: 50%;
}
.banner-text{
    position: absolute;
    right: 50px;
    top: 50px;
    width: 500px;
    color: #fff;
    border: solid 2px red;
    text-align: right;
}
.banner-text h1{
    font-size: 60px;
    margin-top: 0;
}
.banner-text p{
    font-size: 24px
}
.banner-nav{
    padding-left: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    text-align: center;
}
.banner-nav li{
    padding: 0 5px;
    display: inline-block;

}
.banner-nav li a{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
    text-align: center;line-height: 30px;
}
.banner-nav li a:hover{
    background-color: #000;
    color: #fff;
}
.arrow{
    width: 50px;
    height: 50px;
    background-color: #FF00FF55;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.arrow.left{left: -25px}
.arrow.right{right: -25px}

.chapter{
    border-bottom: solid 1px #ccc; 
    padding-bottom: 150px;
    margin-bottom: 100px;
}
.chapter-title{
    position: sticky;
    position: -webkit-sticky;
    position: -ms-sticky;

    top: 0;
    background-color: #d4f0a0;
}



/*=============================================
=            Feature section            =
=============================================*/
.features{}
.features * {box-sizing: border-box}
  .features h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
  }
  .feature-list{
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
    .feature-list:after{
      clear: both;
      display: block;
      content: "";
    }
    .feature-list li{
      border: solid 1px red;
      float: left;
      width: 20%;
      text-align: center;
      padding-top: 90px;
      background-image: url('../img/what-you-get-icons.svg');
      background-repeat: no-repeat;
    }
.icn-real-exp {background-position: 44px 0;}
.icn-accom    {background-position: -247px 0;}
.icn-local    {background-position: -514px 0;}
.icn-foodie   {background-position: -760px 0;}
.icn-trans    {background-position: -985px 0;}


/*=====  End of Feature section  ======*/






