body{
  background-color: $primary-color;
  @media (min-width:768px) {
    background-color: $secondary-color;
  }
  @media (min-width:992px) {
    background-color: lighten($secondary-color,30%);
  }
}






.container{
  max-width: 760px;
  @include block-align-center;

  &._bdr-primary{
    border: solid 1px $primary-color;
  }
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.box1{
  @include bdr($primary-color);
  @include square(200px);
  margin-bottom: 30px;
}
.box2{
  @include responsive-ratio(4,3);
  @include bdr($primary-color);
  margin-bottom: 30px;
}
