$primary-color        : #9C27B0 ;
$secondary-color      : #448AFF;
$text-color           : #444;
$heading-color        : #222;


$link-color           : $primary-color;
$link-hover-color     : darken($link-color,15%);
$bg-color             : lighten($primary-color, 40%);
$header-bg            : lighten($primary-color, 30%);

$heading-color        : darken($primary-color,20%);


$base-font-size    : 16px;
$primary-font         : "Lato", sans-serif;
$heading-font         : "Roboto Slab", serif;

$primary-font-weight  : 300;

